<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <title>puts</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type = "text/css"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	
	<style type="text/css">
		html,
		body {
		  font-family: 'PT Sans Narrow', sans-serif;
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">

	<div class="container-fluid" style="min-height:95%; ">
		<!-- header -->
		<div class="row">
			<div class="col-sm-2">
				<br>
				  <center>
					<img src="{{ url_for('static', filename='images/mainlogo1.png') }}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			</div>
			<div class="col-sm-10">
				<br>
				  <center>
				  <h3>puts</h3>
                  <p> puts is an online shopping application tracker that aids you in keeping track of your online purchases!</p>
				  </center>
			</div>
		</div><hr>
		<!-- end header -->
		
		<!-- body -->
		<div class="row">
		 
		  
		  <!-- main body -->
		  <div class="col-sm-10">
			<div class='container-fluid' align="center" style="min-height:95%; ">
				{% block body %}{% endblock %}
                 <form action="." method="POST">
                 <input type="text" name="text" size="100">
                 <input type="submit" name="my-form" value="Send">
                 <input type="hidden" name="url" 
                 </form>
			</div>
		  </div>
		</div> 
		<!-- end body -->
		
	</div>
	
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
            <div class="row">
                <div class="col-sm-4">
                    <div class="copyright" align="center">
						<span class="copyright">Copyright &copy; puts 2017</span>
					</div>
                </div>
                <div class="col-sm-4">
                    <ul class="list-inline social-buttons" align="center">
						<li><a href="https://github.com/nickczj/puts"><i class="fa fa-github fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <div class="copyright" align="center">
						<ul class="list-inline quicklinks">
							<li><a href="#">Privacy Policy</a>
							</li>
							<li><a href="#">Terms of Use</a>
							</li>
						</ul>
					</div>
                </div>
            </div>
        </div>
	</footer>	
	
	<!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.js"></script>
	
</body>

</html>