<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <title>Nicholas Chow</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<!-- header -->
		<div class="row">
			<div class="col-sm-2">
				<br>
				  <center>
					<img src="{{ url_for('static', filename='images/mainlogo.png') }}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			</div>
			<div class="col-sm-10">
				<br>
				  <center>
				  <h3>Nicholas Chow</h3>
				  </center>
			</div>
		</div><hr>
		
		<div class="row">
		  <!-- sidebar -->
		  <div class="col-sm-2">
		  <br>

		  <br>
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
			  <ul class="nav nav-pills nav-stacked">
				<li><a href='/'>Home</a></li>
				<li><a href='/plot/'>Plot</a></li>
				<li><a href='/about/'>About</a></li>
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  
		  <!-- main body -->
		  <div class="col-sm-10">
			<div class='container-fluid' align="center" style="min-height:95%; ">
			  {% block body %}{% endblock %}
			</div>
		  </div>
		</div> 
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="mailto:nick.chow.zj@gmail.com">Contact</a> | <a href="https://github.com/nickczj">GitHub</a> | <a href="https://www.facebook.com/nick.czj" target="blank">facebook</a> | <a href="https://www.linkedin.com/in/nicholas-chow-7409baa9/" target="blank">LinkedIn</a></p>
		</div>
	</footer>	
	
</body>

</html>